.task {
  color: rgb(44, 44, 44);
  display:grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  justify-content:space-between;
  width:100%;
}

.task-is-complete::after {
  content:'__done?';
}

.task-is-complete:checked ~ div {
  text-decoration:line-through;
  color: darkgrey;
}

.hidden {
  display:none !important;
}

.clickable {
  cursor:pointer;
}

.card.selected {
  background-color:whitesmoke;
}

.card {
  background:rgb(194, 194, 194);
}